<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
    <title>Profile Page</title>
  </head>

  <body>
    <nav>
      <h4>Leave Portal</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/postleaves">Apply for Leave</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </nav>
    <div class="container mt-4">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="avatar-ctn">
              <img src="/avatar.png" alt="user profile image" class="avatar" />
            </div>

            <div class="card-body">
              <form action="/postinfo" method="post">
                <div class="form-group">
                  <label for="email">Name</label>
                  <input
                    type="text"
                    name="name"
                    value="<%=userData[0].student_name %>"
                  />
                </div>
                <div class="form-group">
                  <label for="email">Roll </label>
                  <input
                    type="text"
                    name="roll"
                    value="<%=userData[0].student_roll %>"
                  />
                </div>
                <div class="form-group">
                  <label for="email">Mobile</label>
                  <input
                    type="text"
                    name="mobile"
                    value="<%=userData[0].student_mobile %>"
                    maxlength="10"
                  />
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="card text-center">
            <div class="card-header">Leaves</div>
            <div class="card-body">
              <table>
                <tr>
                  <th>Serial Number</th>
                  <th>Description</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                </tr>

                <% if(userData.length!=0){ var i=1;
                userData.forEach(function(data){ %>
                <tr>
                  <td><%= i; %></td>
                  <td><%=data.description %></td>
                  <td><%=data.start %></td>
                  <td><%=data.end %></td>
                  <td><%=data.status %></td>
                </tr>
                <% i++; }) %> <% } else{ %>
                <tr>
                  <td colspan="7">No Data Found</td>
                </tr>
                <% } %>
              </table>
            </div>
            <div class="card-footer text-muted">Node MySQL Project</div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
